@{
    ViewData["Title"] = "View Cart";
    List<CartItem> cartItems = (List<CartItem>)ViewData["cart"];
    var userCartAmt = ViewData["userCartAmt"];
    
}

    <head>
        <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="~/css/viewcart.css" />
        <script src="~/js/viewcart.js"></script>
    </head>

    <body id="cartBody">
        <p id="cartTop" style="color:white;">S</p>


        @if (cartItems.Count == 0)
        {
            <div class="cartEmptyDiv">
            <h3 id="cartEmptyMessage" style="text-align:center; padding: 20px;">Your cart is empty!</h3>
            <img id="cartEmptyMessage_Emoji" src="~/img/CryingFaceEmoji.png" class="cart_CryingFaceEmoji"/>
            </div>
        }
        else
        {
        <table id="cartTable">
            <colgroup>
                <col class="cart_Table_15" />
                <col class="cart_Table_40" />
                <col class="cart_Table_15" />
                <col class="cart_Table_20" />
                <col class="cart_Table_10" />
            </colgroup>

            <tr>
                <th>Item</th>
                <th>Details</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Remove from Cart</th>
            </tr>

            @foreach (var cartitem in cartItems)
            {
                var placeholder = "subtotal" + @cartitem.Product.ProductID;
                var placeholder2 = "unitprice" + @cartitem.Product.ProductID;
                var placeholder3 = "cartitem" + @cartitem.Product.ProductID;
                var placeholder4 = "remove" + @cartitem.Product.ProductID;
                var rawSubtotal = @cartitem.Product.UnitPrice * @cartitem.Quantity;
                var initSubtotal = Math.Round(rawSubtotal,2).ToString("#,0.00");

                <tr id=@placeholder3 class="itemRow">
                    <td>
                        <img src="/img/@cartitem.Product.Image">
                    </td>
                    <td>
                        <b>@cartitem.Product.ProductName</b><br>
                        @cartitem.Product.Description<br><br />
                        <span id=@placeholder2 class="unitprice">$@cartitem.Product.UnitPrice</span>
                    </td>
                    <td>
                        <div>
                            <input id=@cartitem.Product.ProductID type="number" step="1" min="1" max="" name="quantity" value="@cartitem.Quantity" title="qty" class="cart_QuantityBox" size="4" pattern="" inputmode="">
                        </div>
                    </td>
                    <td id=@placeholder class="subtotals">
                        $@initSubtotal
                    </td>
                    <td>
                        <a id="@placeholder4" class="cartItem"><img src="/img/RemoveFromCartIcon.png" class="cart_RemoveIcon"></a>
                    </td>
                </tr>
            }

        </table>

        <hr id="lineDivider" />

        <div id="totalPriceBottom" style="text-align:right; font-size:22px; font-weight:bold;">Total: $@userCartAmt</div>
        <input type="submit" value="Checkout &#x2192" class="cart_CheckoutButton" id="checkoutButton" onclick="@("window.location.href='" + @Url.Action("CheckOut", "Cart") + "'");">
 
     }
</body>